@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

:root {
  --main-color: #009970;
  --main-font: 'Cairo', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);

}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/*larg*/

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* end media for containers */

.product_box{
  
}